@tailwind base;
@tailwind components;
@tailwind utilities;






.root {
  margin: 0;
  padding: 0;  
}

.body {
  margin: 0;
  padding: 0;  
}



.container {
  margin: 0;
  padding: 0;
  outline: 5px solid green;
  height: 100%;
  width: 100%;

}
/*
.section {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.section.left{
  justify-content: flex-start;
}

.section.right{
  justify-content: flex-end
}*/
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  outline: 10px solid red;
  outline-offset: -6px;
}
.overlay.left{
  left: 0;
  width: 50vw;
  transition: all 0.5s ease-in-out;
}
.overlay.right{
  right: 0;
  width: 50vw;
  transition: all 0.5s ease-in-out;
}  


