.container {
  margin: 0 10rem;
  padding: 0 5rem;
  outline: 5px solid green;

}

.section {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  /* outline: 5px solid red; */
}

.section.left{
  justify-content: flex-start;
}

.section.right{
  justify-content: flex-end
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  /* inner outline */
  outline: 10px solid red;
  outline-offset: -6px;
}
.overlay.left{
  left: 0;
  width: 50vw;
  transition: all 0.5s ease-in-out;
}
.overlay.right{
  right: 0;
  width: 50vw;
  transition: all 0.5s ease-in-out;
} 